:root {
  --black: #3B434E;
  --black-light: #EBEBEB;
  --white: white;
  --primary: #7653FC;
  --primary-hover: #473299;
  --red: #FC836D;
  --red-light: #FC836D;
  --gray: #A4A4A4;
  --gray-light: #EBEBEB;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --font-family: 'Noto Sans', 'sans-serif';
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

html{
  width: 100vw;
  height: 100vh;
}

body{
  background: #E5E5E5;
  width: 100vw;
  height: 100vh;
}

a{
  text-decoration: none;
  color: inherit
}
